# OpenSearch configuration
OPENSEARCH_PSWD=""

# Kafka configuration
KAFKA_BROKERS="127.0.0.1:9092,127.0.0.1:9093"
WIKIMEDIA_TOPIC="wikimedia-events"
WIKIMEDIA_CONSUMER_GROUP_ID="wikimedia-opensearch-group"

# Number of consumer worker processes to spawn (default: 3)
# Ideally set this to the number of Kafka topic partitions
CONSUMER_WORKERS=3
