# OpenSearch configuration environment variables for Wikimedia stream project
OPENSEARCH_PSWD=""

# Kafka configuration
KAFKA_BROKERS="127.0.0.1:9092,127.0.0.1:9093"
WIKIMEDIA_TOPIC="wikimedia-events"
WIKIMEDIA_CONSUMER_GROUP_ID="wikimedia-events-consumer-group"